li {
  list-style: none;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  background: yellow;
  outline: 2px solid black;
}

header>div {
  height: 100px;
  width: 960px;
  margin: 0px;
  padding: 0px;
  margin: auto;
}

header>div>* {
  float: left;
}

header>div>:nth-child(2) {
  width: 760px;
}


header img {
  height: 75px;
  width: 100px;
  background: yellow;
  margin-top: 10px;
}

header ul {
  display: block;
  width: 600px;
  margin-left: 80px;
}

header h1 {
  display: block;
  font-size: 30px;
  width: 600px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-left: 80px;
  text-align: center;
  font-family: fantasy;
}


header ul * {
  display: inline-block;
  float: left;
  height: 40px;
  width: 147.5px;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
  font-family: fantasy;
  border-left: 2px solid black;
  cursor: pointer;
}


header ul>:last-child {
  border-right: 2px solid black;
}

header li:hover {
  background: black;
  color: yellow;
}


main>div {
  width: 960px;
  height: 1400px;
  background: black;
  margin: auto;
  margin-top: 150px;
}

main>div> * {
  margin: 0px;
  padding: 0px;
}

main>div div {
  width: 900px;
  float: left;
  margin-left: 30px;
}

main>div>:last-child {
  height: 600px;
  color: yellow;
}


#pics {
  height: 200px;
  width: 900px;
  padding: 0;
  outline: 3px solid yellow;
}

#pics> li {
  display: inline-block;
  margin-left: 70px;
}

#pics img {
  width: 200px;
  height: 200px;
}
